html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Open Sans';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    color: #808080;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

@import 'layout';
@import 'headernavbar';

@import 'auth/signin';
@import 'auth/signup';
@import 'page-title';
@import 'form-fields';
@import 'details';

@import 'account/account';
@import 'account/account-information';
@import 'account/purchase-history';